cat <<EOF > requirements.txt
torch>=2.1.0
torchaudio>=2.1.0
transformers==4.40.0
datasets
tokenizers
accelerate
peft==0.16.0
git+https://github.com/openai/whisper.git
konlpy
mecab-python3
fastapi
uvicorn
ffmpeg-python
pydantic==2.5.3
sentencepiece==0.1.99
scikit-learn
numpy
tqdm
EOF